# Node / Next.js
node_modules/
.next/
out/
build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
backend/.env

# IDEs / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.docker/

# OS files
.DS_Store
Thumbs.db
