# Node / Next.js
node_modules/
.next/
out/
build/
# Env files (global protection)
.env
.env.*
**/.env
**/.env.*

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# IDEs / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.docker/

# OS files
.DS_Store
Thumbs.db
